[submodule "nasy-site-lisp"]
	path = 木瓜/nasy
	url = https://github.com/nasyxx/emacs-site-lisp.git
[submodule "tree-sitter-rangs"]
	path = 木瓜/emacs-tree-sitter/tree-sitter-langs
	url = https://github.com/emacs-tree-sitter/tree-sitter-langs.git
	ignore = dirty
[submodule "木瓜/casouri/tree-sitter-module"]
	path = 木瓜/casouri/tree-sitter-module
	url = https://github.com/casouri/tree-sitter-module.git
