[submodule "nasy-site-lisp"]
	path = 木瓜/nasy
	url = https://github.com/nasyxx/emacs-site-lisp.git
[submodule "木瓜/casouri/tree-sitter-module"]
	path = 木瓜/casouri/tree-sitter-module
	url = https://github.com/casouri/tree-sitter-module.git
