# Custom
.emacs.desktop*
.historian
.session
.smex-items
.zsh_history
.mc-lists.el
.bookmarks.el
.lsp-session*

.cache
anaconda-mode
custom/user-config-example.el
custom/user-config.el
emojis
straight
url/
var/
etc/

patches/

ltximg/

custom.el
ditaa0_9.jar
forge-database.sqlite
history
init.html
init.el
plantuml.jar
projectile-bookmarks.eld
nix-buffer
README.html
recentf

木瓜/
桃夭/
舊書/
芄蘭/
萚兮/
.DS_Store
extra/
snippets/
custom/
eln-cache


# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


# End of https://www.gitignore.io/api/emacs
