emojis
straight
var
.emacs.desktop*
.historian
.session
.smex-items
.zsh_history
ditaa0_9.jar
history
plantuml.jar
projectile-bookmarks.eld
recentf
.cache
anaconda-mode
custom.el
user-config.el
nix-buffer
